<a href="https://colab.research.google.com/github/AnhVietPham/Computer-Science/blob/master/research-pandas/loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# **pandas.DataFrame.loc**

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [6]:
df.loc[['viper','sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [7]:
df.loc['cobra','shield']

2

In [8]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [9]:
df.loc[[True, False, True]]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [11]:
df.loc[df['shield'] > 3]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [12]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

# **Setting values**

In [14]:
df.loc[['viper','sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [16]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [19]:
df.loc[:,'max_speed'] = 99
df

            max_speed  shield
cobra              99      10
viper              99      50
sidewinder         99      50

In [22]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [24]:
df.loc[df['shield'] > 3] = 999
df

            max_speed  shield
cobra               1       2
viper             999     999
sidewinder        999     999

In [27]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [28]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [30]:
tuples = [
   ('cobra', 'mark i'), 
   ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), 
   ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'),
    ('viper', 'mark iii')
]
tuples

[('cobra', 'mark i'),
 ('cobra', 'mark ii'),
 ('sidewinder', 'mark i'),
 ('sidewinder', 'mark ii'),
 ('viper', 'mark ii'),
 ('viper', 'mark iii')]

In [31]:
index = pd.MultiIndex.from_tuples(tuples)
index

MultiIndex([(     'cobra',   'mark i'),
            (     'cobra',  'mark ii'),
            ('sidewinder',   'mark i'),
            ('sidewinder',  'mark ii'),
            (     'viper',  'mark ii'),
            (     'viper', 'mark iii')],
           )

In [35]:
values = [
    [12,2],
    [0,4],
    [10,20],
    [1,4],
    [7,1],
    [16,36]
]
values

[[12, 2], [0, 4], [10, 20], [1, 4], [7, 1], [16, 36]]

In [34]:
df = pd.DataFrame(values, columns=['max_speed','shield'], index = index)
df

                     max_speed  shield
cobra      mark i         12.0     2.0
           mark ii         0.4     NaN
sidewinder mark i         10.0    20.0
           mark ii         1.0     4.0
viper      mark ii         7.0     1.0
           mark iii       16.0    36.0